# Importando as bibliotecas necessárias

In [2]:
import dash
import dash_core_components as dcc
from dash import dcc
from dash.dependencies import Input, Output
import dash_bootstrap_components as dbc

In [3]:
import plotly.express as px
import plotly.graph_objects as go

import numpy as np
import pandas as pd
import json

Importando os dados para os dataframes. Os dados estão separados em 5 arquivos csv, faremos o import e depois a concatenação dos dados.

In [7]:
df1 = pd.read_csv("HIST_PAINEL_COVIDBR_2020_Parte1_15jun2022.csv",sep=";")

In [16]:
df1.shape

(714481, 17)

In [8]:
df2 = pd.read_csv("HIST_PAINEL_COVIDBR_2020_Parte2_15jun2022.csv",sep=";")

In [17]:
df2.shape

(859707, 17)

In [10]:
df3 = pd.read_csv("HIST_PAINEL_COVIDBR_2021_Parte1_15jun2022.csv",sep=";")

In [18]:
df3.shape

(1017039, 17)

In [11]:
df4 = pd.read_csv("HIST_PAINEL_COVIDBR_2021_Parte2_15jun2022.csv",sep=";")

In [19]:
df4.shape

(1033896, 17)

In [12]:
df5 = pd.read_csv("HIST_PAINEL_COVIDBR_2022_Parte1_15jun2022.csv",sep=";")

In [20]:
df5.shape

(932754, 17)

Agora que importamos os dados para os dataframes, faremos a concatenação.

In [14]:
df = pd.concat([df1,df2,df3,df4,df5])

In [21]:
df.shape

(4557877, 17)

In [22]:
df.head(2)

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-25,9,210147125.0,0.0,0,0,0,0.0,0.0,NaN
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-26,9,210147125.0,1.0,1,0,0,1.0,0.0,NaN

## Criando um dataframes somente com os estados

Crio o dataframe df_states e insiro nele todos os dados do dataframe df, mas excluo as linhas onde na coluna estado possuam valores null

In [24]:
df_states = df[(df["estado"].notna()) & (df["codmun"].isna())]

In [29]:
df_states2 = df[(df["estado"].notna())]

In [27]:
df_states

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
158,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-25,9,1777225.0,0.0,0,0,0,NaN,NaN,NaN
159,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-26,9,1777225.0,0.0,0,0,0,NaN,NaN,NaN
160,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-27,9,1777225.0,0.0,0,0,0,NaN,NaN,NaN
161,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-28,9,1777225.0,0.0,0,0,0,NaN,NaN,NaN
162,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-29,9,1777225.0,0.0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4643,Centro-Oeste,DF,NaN,53,NaN,NaN,NaN,2022-06-11,23,3015268.0,740912.0,0,11699,0,NaN,NaN,NaN
4644,Centro-Oeste,DF,NaN,53,NaN,NaN,NaN,2022-06-12,24,3015268.0,740912.0,0,11699,0,NaN,NaN,NaN
4645,Centro-Oeste,DF,NaN,53,NaN,NaN,NaN,2022-06-13,24,3015268.0,749623.0,8711,11701,2,NaN,NaN,NaN
4646,Centro-Oeste,DF,NaN,53,NaN,NaN,NaN,2022-06-14,24,3015268.0,753025.0,3402,11702,1,NaN,NaN,NaN
4647,Centro-Oeste,DF,NaN,53,NaN,NaN,NaN,2022-06-15,24,3015268.0,759330.0,6305,11704,2,NaN,NaN,NaN